/* file css */
main {
    display: flex;
    justify-content: space-around;
}

.color-section {
    background-color: aliceblue;
    padding: 8px;
    border: 10px;
}

#result {
    font-size: 30px;
    font-weight: bold;
}

.text-center{
    text-align: center;     
}

footer {
    text-align: center;
    display: block;
}