/* file css */
main {
    display: flex;
    justify-content: space-around;
}

.col-5 {
    width: 50%;
    margin: 60px;        
}

.color-section {
    background-color: aliceblue;
    padding: 8px;
    border: 10px;
    width: 100%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

ul {
    padding-left: 20px;
}

#result {
    font-size: 30px;
    font-weight: bold;
}

.text-center{
    text-align: center;     
}

footer {
    text-align: center;
    display: block;
}